@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
::-webkit-scrollbar{
  display: none;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
.hero {
  width: 100%;
  height: 10vh;
  background: white;
  background-size: cover;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 100px;
  font-size: 23px;
  margin-right: 10%;
  margin-top: -1.999%;
}
.logo {
  max-height: 170px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  color: #1d1d24;
  position: relative;
  padding: 5px 0;
}
nav ul li a:hover {
  color: #265c8c;
}
nav ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  height: 3px;
  background: #265c8c;
  transition: 0.5s;
  bottom: 0;
}
nav ul li a:hover:after {
  width: 100%;
}
.btn {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 16px 40px;
  border-radius: 500px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  background-size: 152% 100%;
  background: #18a2d9;
  border: 2px solid #18a2d9;
  margin-right: -5%;
}
.btn:hover {
  background: transparent;
  border-color: #18a2d9;
  color: #18a2d9;
}
.content {
  position: absolute;
  top: 23%;
  left: 6.1%;
}
.content .title {
  color: #0a0a0a;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  margin-bottom: 20px;
  background: linear-gradient(
    120deg,
    #1c99fe 20.69%,
    #7644ff 50.19%,
    #1c99fe 79.69%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content h1 {
  color: #1f1f25;
  margin-top: 7.5%;
  font-size: 75px;
  font-weight: 900;
  line-height: 90px;
  text-transform: inherit;
  width: 70%;
}
.content h1 span {
  color: #265c8c;
}
.content p {
  width: 65%;
  color: #202020;
  margin-top: 25px;
  margin-bottom: 30px;
}


.fotocalendario{
  width: 350px;
  margin-left: 170%;
  margin-bottom: -60%;
}


svg{
  margin-bottom: -36.5%;
}






html{
  
    --header-color:#265c8c;
  
    --header-button:#49779e;
  
    --color-weekdays: #1c99fe;
    
    --box-shadow: #CBD4C2;
  
    --hover: #49779e;
  
    --current-day:#e8f4fa;
  
    --event-color: #58bae4;
  
    --modal-event: #74b0e0;

  
   --color-day:white;
    
  
  }
  
  
  
  body {
    display: flex;
    margin-top: 50px;
    justify-content: center;
    background-color: var(--body-color);
  }
  button {
    width: 75px;
    cursor: pointer;
    box-shadow: 0px 0px 2px gray;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    color: white;
  }
  
  #header {
    padding: 10px;
    color: var(--header-color) ;
    font-size: 26px;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
  }
  #header button {
    background-color:var(--header-button);
  }
  #container {
    width: 770px;
    margin-left: 58%;
    margin-top: -7%;
  }
  #weekdays {
    width: 100%;
    display: flex;
    color: var(--color-weekdays) ;
  }
  #weekdays div {
    width: 120px;
    padding: 20px;
  }
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  .day {
    width: 100px;
    padding: 10px;
    height: 100px;
    cursor: pointer;
    box-sizing: border-box;
    background-color: var(--color-day);
    margin: 5px;
    box-shadow: 0px 0px 3px var(--box-shadow);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15%;
  }
  .day:hover {
    background-color: var(--hover);
  }
  
  .day + #currentDay {
    background-color:var(--current-day);
  }
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: var(--event-color);
    color: white;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  .padding {
    cursor: default !important;
    background-color: var(--body-color) !important;
    box-shadow: none !important;
  }
  #newEventModal, #deleteEventModal {
    display: none;
    z-index: 20;
    padding: 25px;
    background-color: var(--modal-event);
    box-shadow: 0px 0px 3px black;
    border-radius: 5px;
    width: 350px;
    top: 100px;
    left: calc(50% - 175px);
    position: absolute;
    font-family: sans-serif;
    margin-top: 25%;
    margin-left: 450px;
  }
  #eventTitleInput {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 0px 3px gray;
  }
  #eventTitleInput.error {
    border: 2px solid red;
  }
  #cancelButton, #deleteButton {
    background-color: var(--header-color);
  }
  #saveButton, #closeButton {
    background-color: var(--header-button);
  }
  #eventText {
    font-size: 14px;
  }
  #modalBackDrop {
    display: none;
    top: 0px;
    left: 0px;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: absolute;
}
